<div class="row" style="">
    <div class="container">
        <h2 style="text-align: center"> DRAG AND DROP TO SELECT FEEDS</h2>
        <hr>
        <div class="col-md-6">
            <div class="panel panel-info" >
                <div class="panel-heading" style="text-align: center">Available</div>
                <div class="panel-body">
                    <div class="drag-box list-group-item list-group-item-info">ITEM</div>
                    <div class="drag-box list-group-item list-group-item-info">ITEM2</div>
                    <div class="drag-box list-group-item list-group-item-info ">ITEM3</div>
                    <div class="drag-box list-group-item list-group-item-info">ITEM4</div>
                    <div class="drag-box list-group-item list-group-item-info">ITEM5</div>
                </div>
            </div>
        </div>
        <div class="col-md-6" >
            <div class="panel panel-success" style="height: 340px">
                <div class="panel-heading" style="text-align: center">Selected</div>
                <div class="panel-body" style="width: 100%;height: 215px">

                </div>
            </div>
        </div>
        <button type="button" class="btn btn-primary" ng-click="getFeed()">CONTINUE</button>
    </div>
</div>
<style>
    .drag-box {
        border: #000 1px solid;
        padding: 2px;
        font-size: 14px;
        margin-bottom: 5px;
        width: 100%;
        height:50px;
        cursor: pointer;
        font-family: verdana, tahoma, arial;
    }
</style>