<div class="row">
    <div class="container">
        <div class="col panel-box" style="text-align: center">
            <h4>RSS NEWS FEED</h4>
            <h4>WELCOME!</h4>
            <button type="button" style="margin-top: 15%;margin-bottom: 10%" class="btn btn-primary" ng-click="fbLogin()">LOGIN WITH FACEBOOK/TWITTER</button>
        </div>
    </div>
</div>
<style>
    .panel-box {
        /*float: left;*/
        margin: 3px;
        width: 100%;
        border: 2px solid;
        padding: 5px;
    }
</style>
