<div class="row" style="">
<div class="container">
    <div class="col-md-6">
        <div class="panel panel-info" >
            <div class="panel-heading" style="text-align: center">Available</div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-success">HI</li>
                    <li class="list-group-item list-group-item-info">HEllo</li>
                    <li class="list-group-item list-group-item-warning">Ved</li>
                    <li class="list-group-item list-group-item-danger">Prakash</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-success">
            <div class="panel-heading" style="text-align: center">Selected</div>
            <div class="panel-body" style="width: 100%;height: 215px">
                Panel content
            </div>
        </div>
    </div>
</div>
</div>
